@page "/cadastrar-producao"
@using PIMFazendaUrbanaRadzen.Services
@using PIMFazendaUrbanaAPI.DTOs
@* @attribute [Authorize] *@

<PageTitle>Cadastrar Produção</PageTitle>

<RadzenCard Style="max-width: 800px; margin: 0 auto; padding: 20px;" class="rz-mt-2">
    <RadzenText Text="Cadastrar Produção" TextStyle="TextStyle.H3" TagName="TagName.H1" class="rz-mb-4" />

    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">
        Erro ao cadastrar produção
    </RadzenAlert>

    <RadzenTemplateForm TItem="ProducaoDTO" Data="@producao" Submit="@FormSubmit">
        <RadzenStack>
            
            <!-- Campo Variedade -->
            <div style="margin-bottom: 15px;">
                <RadzenLabel Text="Variedade" />
                <RadzenDropDown style="width: 100%"
                                @bind-Value="cultivoSelecionado"
                                Name="Cultivo"
                                Placeholder="Selecione o cultivo"
                                Data="@cultivos"
                                TextProperty="Variedade"
                                TValue="CultivoDTO"
                                Change="@(args => AtualizarCultivoSelecionado((CultivoDTO)args))" />
                <RadzenRequiredValidator Component="Cultivo" Text="Selecione uma variedade de cultivo" />
            </div>

            <!-- Campo Categoria -->
            <div style="margin-bottom: 15px;">
                <RadzenLabel Text="Categoria" />
                <RadzenTextBox Value="@(producao.Cultivo?.Categoria ?? "N/A")"
                               ReadOnly="true"
                               Style="width: 100%; background-color: rgba(161, 161, 161, 0.15);" />
            </div>

            <!-- Campo Quantidade -->
            <div style="margin-bottom: 15px;">
                <RadzenLabel Text="Quantidade" />
                <RadzenNumeric @bind-Value="producao.Qtd" Min="0" Style="width: 100%;" />
            </div>

            <!-- Campo Unidade -->
            <div style="margin-bottom: 15px;">
                <RadzenLabel Text="Unidade" />
                <RadzenDropDown @bind-Value="producao.Unidqtd" Name="Unidade" Placeholder="Selecione a unidade" Data="@unidadesPermitidas" TValue="string" Style="width: 100%;" />
            </div>

            <!-- Campo Data -->
            <div style="margin-bottom: 15px;">
                <RadzenLabel Text="Data" />
                <RadzenDatePicker @bind-Value="producao.Data"
                                  Change="@(args => { AtualizarDataColheita(); })"
                                  Style="width: 100%;"
                                  DateFormat="dd/MM/yyyy" ShowTime="false" />
            </div>

            <!-- Campo Tempo de Produção e Data Prevista Colheita -->
            <div style="margin-bottom: 15px; display: flex; flex-direction: row; justify-content: space-between; gap: 10px;">
                <!-- Tempo de Produção -->
                <div style="flex: 1;">
                    <RadzenLabel Text="Tempo de Produção" />
                    <RadzenTextBox Value="@(tempoProd.HasValue ? tempoProd.Value.ToString() : "N/A")"
                                   Placeholder="Tempo de Produção"
                                   ReadOnly="true"
                                   Style="width: 100%; background-color: rgba(161, 161, 161, 0.15);" />
                </div>

                <!-- Data Prevista de Colheita -->
                <div style="flex: 1;">
                    <RadzenLabel Text="Data Prevista Colheita" />
                    <RadzenTextBox Value="@(producao.DataColheita != default ? producao.DataColheita.ToString("dd/MM/yyyy") : "N/A")"
                                   Placeholder="Data de Colheita"
                                   ReadOnly="true"
                                   Style="width: 100%; background-color: rgba(161, 161, 161, 0.15);" />
                </div>
            </div>

            <!-- Campo Ambiente Controlado -->
            <div style="margin-bottom: 15px;">
                <RadzenLabel Text="Ambiente Controlado?" />
                <RadzenSwitch @bind-Value="producao.AmbienteControlado"
                              Change="@(args => { AtualizarTempoProd(); })"
                              style="height: 24px; width: 20px; flex: 1; min-width: 40px;" />
            </div>

            <!-- Botões Confirmar e Cancelar -->
            <div style="display: flex; gap: 1rem; flex: 0 0 auto; min-width: 280px; justify-content: center;">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Confirmar"
                              Variant="Radzen.Variant.Filled" Shade="Radzen.Shade.Default"
                              Style="width: 50%; min-width: 140px;" />
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Text="Cancelar" Icon="cancel"
                              Variant="Radzen.Variant.Filled" Shade="Radzen.Shade.Light"
                              Style="width: 50%; min-width: 130px;" 
                              Click="@CancelButtonClick" />
            </div>
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenCard>