@page "/vendas"
@using PIMFazendaUrbanaRadzen.Services
@using PIMFazendaUrbanaAPI.DTOs

<PageTitle>Vendas</PageTitle>

<!-- Título na parte superior -->
<div style="text-align: left; margin-bottom: 20px;">
    <RadzenText Text="Vendas" TextStyle="TextStyle.H3" TagName="TagName.H1" class="rz-mb-4" />
</div>

<!-- Barra de busca e botão exportar -->
<div style="display: flex; align-items: center; margin-bottom: 10px; gap: 10px;">
    <!-- Campo de busca -->
    <RadzenTextBox Placeholder="Procurar..."
                   Style="flex-grow: 1; width: auto; min-width: 100px;"
                   @oninput="@(args => OnSearch(args.Value.ToString()))" />

    <!-- Botão Exportar -->
    <RadzenSplitButton ButtonStyle="ButtonStyle.Secondary"
                       Icon="get_app"
                       Text="Exportar"
                       Variant="Radzen.Variant.Filled"
                       Shade="Radzen.Shade.Lighter"
                       IconColor="black"
                       Style="min-width: 140px; padding: 0px 0px !important;"
                       class="split-button-menor"
                       Click="OnExportarClick">
        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
        <RadzenSplitButtonItem Text="CSV" Value="csv" />
    </RadzenSplitButton>

    <!-- Botão Adicionar -->
    <RadzenButton ButtonStyle="ButtonStyle.Primary"
                  Icon="add_circle_outline"
                  Text="Adicionar"
                  Click="@AddButtonClick"
                  Variant="Radzen.Variant.Filled"
                  Shade="Radzen.Shade.Light"
                  Style="min-width: 120px; padding: 0px 0px !important;"
                  class="botao-menor"
                  id="#botao-menor" />
</div>

<!-- DataGrid 1: Registro de Venda de Produtos -->
<div style="margin-top: 10px;">
    <RadzenRow>
        <RadzenDataGrid @ref="grid0"
                        Data="@vendaitens"
                        TItem="PedidoVendaItemDTO"
                        AllowFiltering="true"
                        FilterMode="FilterMode.Advanced"
                        AllowPaging="true"
                        AllowSorting="true"
                        ShowPagingSummary="true"
                        PageSizeOptions="@(new int[]{5, 10, 20, 30})"
                        AllowColumnResize="true"
                        PageSizeText="Itens por página"
                        PageTitleFormat="Página {0}"
                        PagingSummaryFormat="Página {0} de {1} ({2} itens)"
                        PrevPageAriaLabel="Ir para a página anterior"
                        PrevPageTitle="Página anterior"
                        EmptyText="Sem itens para mostrar"
                        PageAriaLabelFormat="Ir para a página {0}"
                        NextPageAriaLabel="Ir para a próxima página"
                        NextPageTitle="Próxima página"
                        LastPageTitle="Última página"
                        FirstPageTitle="Primeira página"
                        EndsWithText="Termina com..."
                        EnumFilterSelectText="Selecionar..."
                        EqualsText="Igual a..."
                        FilterText="Filtrar"
                        FirstPageAriaLabel="Ir para a primeira página"
                        GreaterThanText="Maior que..."
                        GreaterThanOrEqualsText="Igual ou maior que..."
                        IsNullText="Nulo"
                        IsNotNullText="Não nulo"
                        LastPageAriaLabel="Ir para a última página"
                        LessThanText="Menor que..."
                        LessThanOrEqualsText="Igual ou menor que..."
                        OrOperatorText="Ou"
                        AndOperatorText="E"
                        ApplyFilterText="Aplicar"
                        ClearFilterText="Limpar"
                        ColumnsText="Colunas"
                        ContainsText="Contém..."
                        DoesNotContainText="Não contém..."
                        StartsWithText="Começa com..."
                        IsNotEmptyText="Não é vazio"
                        IsEmptyText="É vazio"
                        NotEqualsText="Não é igual a..."
                        AllColumnsText="Todas"
                        ColumnsShowingText="Exibir colunas"
                        LogicalOperatorAriaLabel="Operador de filtro lógico"
                        EnumNullFilterText="Sem valor"
                        FilterToggleAriaLabel="Alternar"
                        FilterOperatorAriaLabel="Filtrar operador"
                        FilterValueAriaLabel="Filtrar valor"
                        SecondFilterOperatorAriaLabel="Segundo operador de filtro"
                        SecondFilterValueAriaLabel="Segundo valor de filtro"
                        GroupPanelText="Arrastar cabeçalho de coluna"
                        ExpandChildItemAriaLabel="Expandir item filho"
                        ExpandGroupAriaLabel="Expandir grupo"
                        RemoveGroupAriaLabel="Remover grupo"
                        SelectVisibleColumnsAriaLabel="Selecionar colunas visíveis"
                        Style="border: 1px solid black; padding: 5px; width: 100%;"
                        class="data-grid-com-poucas-colunas">
            <Columns>
                <!-- Coluna para Id -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="Id" Title="Id" Filterable="false" Sortable="true" Width="4%" MinWidth="35px">
                </RadzenDataGridColumn>

                <!-- Coluna para Produto com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="NomeProduto" Title="Produto" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.NomeProduto">@vendaitem.NomeProduto</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

                <!-- Coluna para Qtd com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="Qtd" Title="Quantidade" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.Qtd">@vendaitem.Qtd</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

                <!-- Coluna para Unidade com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="UnidQtd" Title="Unidade" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.UnidQtd">@vendaitem.UnidQtd</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

                <!-- Coluna para Data com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="Data" Title="Data" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.Data.ToShortDateString()">@vendaitem.Data.ToShortDateString()</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

                <!-- Coluna para Cliente com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="NomeCliente" Title="Cliente" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.NomeCliente">@vendaitem.NomeCliente</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

                <!-- Coluna para ValorUnitario com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="Valor" Title="Valor Unitário" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.Valor.ToString("0.00")">@vendaitem.Valor.ToString("0.00")</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

                <!-- Coluna para ValorTotal com tooltip -->
                <RadzenDataGridColumn TItem="PedidoVendaItemDTO" Property="ValorTotal" Title="Valor Total" Filterable="true" Sortable="true" Width="12%" MinWidth="150px">
                    <Template Context="vendaitem">
                        <span title="@vendaitem.ValorTotal.ToString("0.00")">@vendaitem.ValorTotal.ToString("0.00")</span> <!-- Tooltip -->
                    </Template>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
    </RadzenRow>
</div>
@*
<!-- DataGrid 2: Estoque de Produto -->
<div style="margin-top: 20px;">
    <RadzenRow>
        <RadzenDataGrid Data="@estoqueData"
                        TItem="dynamic"
                        AllowFiltering="true"
                        AllowSorting="true"
                        AllowPaging="true"
                        AllowResizing="true"
                        EmptyText="Sem itens para mostrar"
                        Style="border: 1px solid black; padding: 10px; width: 100%; height: auto; min-height: 300px; word-wrap: break-word; white-space: normal;">
            <HeaderTemplate>
                <div>
                    <RadzenText Text="Estoque de Produto" TextStyle="Radzen.Blazor.TextStyle.H6" />
                </div>
            </HeaderTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="dynamic" Property="ID" Title="ID" Filterable="true" Sortable="true" Width="10%" />
                <RadzenDataGridColumn TItem="dynamic" Property="Produto" Title="Produto" Filterable="true" Sortable="true" Width="20%" />
                <RadzenDataGridColumn TItem="dynamic" Property="Categoria" Title="Categoria" Filterable="true" Sortable="true" Width="15%" />
                <RadzenDataGridColumn TItem="dynamic" Property="Quantidade" Title="Quantidade" Filterable="true" Sortable="true" Width="10%" />
                <RadzenDataGridColumn TItem="dynamic" Property="Unidade" Title="Unidade" Filterable="true" Sortable="true" Width="10%" />
                <RadzenDataGridColumn TItem="dynamic" Property="DataEntrada" Title="Data de Entrada" Filterable="true" Sortable="true" Width="20%" />
                <RadzenDataGridColumn TItem="dynamic" Property="IDProducao" Title="ID Produção" Filterable="true" Sortable="true" Width="15%" />
            </Columns>
        </RadzenDataGrid>
    </RadzenRow>
</div>
*@